body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.DateRangePicker_picker {
  z-index: 1000 !important;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #3f51b5 !important;
  border: 1px double #3f51b5 !important;
  color: #fff;
}

.CalendarDay__selected_span {
  background: #8694e7 !important;
  border: 1px double #6472c4 !important;
  color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #6472c4 !important;
}

.MuiFab-primary {
  z-index: 1000 !important;
}
